/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

$brand-orange:#ee3b00;
$brand-black:#484340;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{box-sizing: border-box}


html{font-size: 16px}

// @media(max-width:992px){
// 	html{font-size: 16px}
// }

@media(max-width:480px){
	html{font-size: 14px}
}




body{ font-family: 'LucidaSans', Helvetica, sans-serif; color: $brand-black}
h1,h2,h3,h4{ line-height:1.2; margin-bottom: .5em; text-transform: capitalize; letter-spacing: 0.6px;}
h1{font-size: 2.4rem;}
h2{font-size: 2rem;}
h3{font-size: 1.4rem;}
h4{font-size: 1rem;}
p{line-height: 1.5; letter-spacing: 0.6px}
a{text-decoration: none}
img{max-width: 100%}
input[type=text],textarea{ font-size: 14px; display: block; width:100%; background-color: #ffffff; padding:8px 13px; border-radius: 3px; border:none; border: 1px solid #d0d1d1;}
textarea{ resize: none;height: 120px;}

input,
textarea,
button{
	font-family: inherit;
	font-size: 14px;;
}