.btn{
    position: relative;
    border:none; 
    display: inline-block;
    border-radius: 25px; 
    overflow: hidden;
    padding: 2px; 
    cursor: pointer;
    background: #ffffff; 
    z-index: 1;
    abbr{
        display: inline-block;
        border-radius: 25px;
        padding: 10px 35px;
        background: $brand-orange;
        color:#fff;
    }
    &--git{
        position: relative;
        // padding-left: 40px;
        &:before{
            content: "";
            position: absolute;
            left: 14px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../images/icons.png);
            background-repeat: no-repeat;
            background-position: -97px 2px;
            padding: 10px;
        }
        
    }
    &--submit{
        display: block;
        margin: auto;
    }
    &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $brand-orange;
        z-index: -1;
        transition:0.6s;
    } 
    &:hover:after{
        width: 0%;
    }
}
.header{
    background-color: #171513;
    padding-top: 18px;
    padding-bottom: 18px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    transition: 0.4s ease-out;
    &--fixed-header{
        top: -100px;
    }
    &__grid{
        grid-template-columns: 130px calc(100% - 130px);
    }
   
    &__mob-icons{
        display: none;
        width: 16px;
        height: 16px;
        background-image: url(../images/icons.png);
        background-repeat: no-repeat;
    }
    &--hamburger{
        background-position: -99px 0;
    }
    &--git-icon{
        background-position: -120px 0;
    }
    @media(max-width: 768px){
        &__mob-icons{
            display: block;
        }
        &__grid{
            grid-template-columns: 1fr 3fr 1fr;
            justify-items: center;
        }
        &__right{
            display: none;
        }   
    }
}
.logo{
    display: block;
}


.nav-list{
    display: flex;
    >li{
        color:#aba19f;
        margin: 0 24px;
        >a{
            color: inherit;
            position: relative;
            letter-spacing: 1px;
            &:before{
                content:attr(data-text);
                color: #ffffff;
                position: absolute;
                width: 0%;
                overflow: hidden;
                transition: 0.4s linear;
            }
            &:hover{
                &:before{
                    width: 100%;
                }
            }
        }
    }
}
.inputs{
    grid-template-columns: 250px 250px 250px;
    grid-gap: 20px 20px;
    margin-bottom: 20px;
    &__input{
        position: relative;
    }
    &__label{
        position: absolute;
        left: 13px;
        color: #a79d9a;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
        transition: 0.2s ease-out;
        pointer-events: none;
    }
    &__active{
        top: 0;
        background: #fff;
        padding: 2px 4px;
        color: #131313;
        border-radius: 3px;
        font-size: 12px;
        // left: 30px;
    }
    &__textarea{
        position: relative;
        grid-column: 1/4;
        .inputs__label{
            top: 17px;
        }
        .inputs__active{
            top: 0px;
        }
    }
    @media(max-width: 992px){
        display: block;
        &__input{
            margin-bottom: 20px;
        }
    }
}


.banner-icon-container{
    .banner-icon{        
        position: relative;
        border: 1px solid #47433f;
        padding: 2.5em 2.2em;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 3px;
        &__img{
            margin-bottom: 7px;
            position: relative;
            &:before {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 0%;
                left: 0;
                top: 0;
                overflow: hidden;
                transition:0.4s linear;
            }
        }
        &:nth-child(1){
            .banner-icon__img{
                &:before {
                    content: url(../images/banner-icon1-back.png);
                }
            }
        }
        &:nth-child(2){
            .banner-icon__img{
                &:before {
                    content: url(../images/banner-icon2-back.png);
                }
            }
        }
        &:nth-child(3){
            .banner-icon__img{
                &:before {
                    content: url(../images/banner-icon3-back.png);
                }
            }
        }
        @media(min-width:992px){
            &:hover{
                .banner-icon__img{
                    &:before{
                        height: 100%;
                    }
                }
            }
        }

        &__label{
            position: relative;
            transition: 0.4s ease-in-out;
        }
    }
    @media(max-width:768px){
        display: block;
        .banner-icon{
            display: flex;
            align-items: center;
            padding: 10px 15px;
            margin: 0 0 15px 0;
            &__img{ 
                width:30px; 
                margin-bottom: 0;
                margin-right: 10px;
            }
        }
    }
}


.banner{
    background-image:url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color:#ffffff;
    &__heading{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        text-align: center;
    }
    &__content{
        padding: 0 15px;
    }
}

.testimonial-list-wrapper{
    margin: 0 -20px;
    .testimonial-list{
        margin: 10px 20px;
        width:33.33%;
        &__box{
            background-color: #ffffff;
            border-radius: 20px;
            padding: 20px;
            position: relative;
            margin-bottom: 20px;
            box-shadow: 0px 1px 1px 1px #c5c5c5;
            transform: translateY(0);
            transition: 0.4s ease-in-out;
            &:before{
                content: "";
                position: absolute;
                border-top: 20px solid white;
                border-right: 10px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 25px solid transparent;
                top: 99%;
                left: 40px;
            }
            &:after{
                content: "";
                position: absolute;
                border-top: 22px solid #c5c5c5;
                border-right: 11px solid transparent;
                border-bottom: 24px solid transparent;
                border-left: 28px solid transparent;
                top: 100%;
                left: 37px;
                z-index: -1;
            }
        }
        &__desc{
            position: relative;
            padding: 15px;
            color: #817470;
            &:before{
                content: '';
                background-image: url(../images/quote.png);
                padding: 5px;
                position: absolute;
                left: 0;
                top: 10px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &__user{
            width: 50px;
            margin-right: 8px;
            transform: rotate(0deg);
            transition: 0.4s ease-in-out;
        }
        &__name{
            margin-bottom: 0px;
            text-transform: uppercase
        }
        &__position{
            font-size: 14px;
            color: #817470;
        }
        &:hover{
            .testimonial-list__box{
                transform: translateY(-7px);
            }
            .testimonial-list__user{
                transform: rotate(360deg);
            }
        }
    }
    @media(max-width: 992px){
        margin: 0;
        flex-direction: column;
        .testimonial-list{
            margin: 0;
            margin-top: 10px;
            display:none;
            &:first-child{
                display: block;
                width: 100%;
            }
        }
    }
}

// @keyframes move{
//     0%{ transform: translateY(0); }
//     50%{ transform: translateY(-10px); }
//     100%{ transform: translateY(0); }
// } 

.social{
    line-height: 0;
    &__icon{
        display: inline-block;
        background-repeat: no-repeat;
        width:16px;
        height:17px;
        margin: 0 3px;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
    }
    &--fb{
        background-image: url(../images/icons.png);
    }
    &--linkdin{
        background-image: url(../images/icons.png);
        background-position: -26px 0;
    }
    &--twitter{
        background-image: url(../images/icons.png);
        background-position: -50px 0;
    }
    &--gplus{
        background-image: url(../images/icons.png);
        background-position: -75px 0;
    }
}

.about{
    grid-column-gap: 20px;
    @media(max-width: 992px){
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        justify-items: center;
    }
}

.testimonial{background-color: #f7f7f7}

.contact-us{
    color: #ffffff;
    background-image: url(../images/contact-us.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 15px; 
    padding-right: 15px;
    text-align: center;
    &__content{
        text-align: center;
        margin-bottom: 1.8rem;
    }
    &__heading{
        margin-bottom: 0.2em;
    }
    &__subheading{
        font-size: 18px;
    }
}

.footer{
    background-color: #171513;
    color: #aba19f;
    padding: 40px 0;
    font-size: 14px;
    @media(max-width:768px){
        &__content{
            grid-template-columns: 1fr;
            grid-row-gap: 15px;
            text-align: center;
        }
        &__follow{
            justify-content: center;
        }
    }
}


