<div class="l-flex l-col-2">
    <div class="color-box">
        <div class="color-box__color color-box--orange"></div>
        <h4>$brand-orange</h4>
        <p>#ee3b00</p>
    </div>
    
    <div class="color-box">
        <div class="color-box__color color-box--black"></div>
        <h4>$brand-black</h4>
        <p>#484340</p>
    </div>
</div>

