<ul class="nav-list">
    <li><a href="#" data-text="About">About</a></li>
    <li><a href="#" data-text="Services">Services</a></li>
    <li><a href="#" data-text="Solutions">Solutions</a></li>
    <li><a href="#" data-text="Blog">Blog</a></li>
</ul>