<div class="banner-icon-container l-flex flex-center">
    <div class="banner-icon">
        <div class="banner-icon__img">
          <img src="../../images/banner-icon1.png">
        </div>
        <p class="banner-icon__label">Service Name</p>
    </div>
    <div class="banner-icon">
        <div class="banner-icon__img">
            <img class="banner-icon__img" src="../../images/banner-icon2.png">
        </div>
        <p class="banner-icon__label">Service Name</p>
    </div>
    <div class="banner-icon">
        <div class="banner-icon__img">
            <img class="banner-icon__img" src="../../images/banner-icon3.png">
        </div>
        <p class="banner-icon__label">Service Name</p>
    </div>
</div>


