<div class="testimonial-list-wrapper l-flex">
    {{# listitems.three}}
    <div class="testimonial-list">
        <div class="testimonial-list__box">
            <p class="testimonial-list__desc">
                {{ excerpt.short }}
            </p>
        </div>
        <div class="testimonial-list__profile l-flex flex-middle">
            <img class="testimonial-list__user" src="../../images/user.png" alt="">
            <div>
                <h4 class="testimonial-list__name">Client Name</h4>
                <p class="testimonial-list__position">Position, ORG</p>
            </div>
        </div>
    </div>
    {{/ listitems.three}}
</div>

