<div class="social">
    <a href="#"><span class="social__icon social--fb"></span></a>
    <a href="#"><span class="social__icon social--linkdin"></span></a>
    <a href="#"><span class="social__icon social--twitter"></span></a>
    <a href="#"><span class="social__icon social--gplus"></span></a>
</div>
