<form action="#">
    <div class="inputs l-grid grid-center">
        <div class="inputs__input">
            <input type="text">
            <label class="inputs__label">Fullname</label>
        </div>
        <div class="inputs__input">
            <input type="text">
            <label class="inputs__label">Email Address</label>
        </div>
        <div class="inputs__input">
            <input type="text">
            <label class="inputs__label">Phone Number</label>
        </div>
        <div class="inputs__textarea">
            <textarea></textarea>
            <label class="inputs__label">Message in brief</label>
        </div>
    </div>
    <input class="btn btn--submit" type="submit">
</form>