<header class="header">
    <div class="l-container">
        <div class="header__grid l-grid grid-middle">
            <span class="header__mob-icons header--git-icon"></span>
            {{> atoms-logo}}
            <span class="header__mob-icons header--hamburger"></span>
            <div class="header__right l-flex flex-middle flex-push-right">
                {{> molecules-nav-list}}
                {{> atoms-button:btn--git(btn-text:"Get In Touch")}}
            </div>
        </div>
    </div>
</header>