<div class="banner l-flex flex-middle flex-center">
    <div class="banner__content">
        <h1 class="banner__heading">Integer bibendum sit amet arcu vel egestas.</h1>
        {{> molecules-banner-icons}}
    </div>
</div>