<section class="about l-container l-grid l-col-2">
    <div class="about__content">
        <h2>{{headline.medium}}</h2>
        <p>{{excerpt.medium}}</p>
    </div>
    <div class="about__img">
        {{> atoms-about-img }}
    </div>
</section>