<div class="footer">
    <div class="footer__content l-container l-grid l-col-2">
        <p class="footer__copy">&copy; 2017 Company. All Rights Reserved.</p>
        <div class="footer__follow l-flex flex-middle flex-push-right">
            Follow us on: &nbsp;
            {{> molecules-follow-us}}
        </div>
    </div>
</div>